.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

.page-link {
  color: #000;
  background-color: #fff;
}

.page-item.active .page-link {
 z-index: 1;
 color: #555;
 font-weight:bold;
 background-color: #f1f1f1;
 border-color: #ccc;
}

.page-link:focus, .page-link:hover {
  color: #000;
  background-color: #fafafa;
  border-color: #ccc;
}

.main{
  min-height:60vh;
}

.container{
  @media (min-width: 1200px){
    max-width: 960px;
  }
}

a{
  text-decoration-line: none;
}

.input-number-password {
    -webkit-text-security: disc;
}

td,
th{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.menu-container {
    width: 100%;
    height: 600px; /* Set the height of the menu container */
    border: 1px solid #ccc;
    overflow-y: auto; /* Enable vertical scrolling */
}

.vertical-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.vertical-menu li {
    background-color: #f1f1f1;
    margin-bottom: 1px;
}

.vertical-menu li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.vertical-menu li a:hover {
    background-color: #555;
    color: white;
}

/* 댓글 스타일 */
.comment {
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc; /* 아래 가로선 추가 */
}

.comment p {
    margin: 0;
    padding: 2px;
    font-size: 14px;
}

/* 대댓글 스타일 */
.reply {
    margin-left: 20px;
    position: relative; /* 상대 위치 설정 */
}

.reply:before {
    content: "ㄴ"; /* ㄴ 모양 추가 */
    position: absolute;
    left: -15px; /* 왼쪽으로 조정 */
    font-size: 14px; /* 아이콘 크기 조정 */
    color: #999; /* 아이콘 색상 설정 */
}

.reply p {
    margin: 0;
    font-size: 13px;
    color: #666;
}