<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout :: head">
    <!--  헤드 공간  -->
</head>
<body>
<!--  상단바 공간  -->
<header th:replace="layout :: nav"></header>
<!-- 내용-->
<div class="d-flex py-4 bg-body-tertiary main">
    <div class="container my-5">
        <!-- 로그인 폼 -->
        <form id="loginForm" class="form-signin w-100 m-auto needs-validation" method="Post" novalidate>
            <div id="login-failed" style="display: none" class="alert alert-danger" role="alert">로그인에 실패하였습니다.</div>
            <!-- 이메일 -->
            <div class="mb-3">
                <label for="login_email" class="form-label">이메일</label>
                <input type="email" id="login_email" name="login_email" class="form-control" required>
            </div>
            <!-- 비밀번호 -->
            <div class="mb-3">
                <label for="login_password" class="form-label">비밀번호</label>
                <input type="password" id="login_password" name="login_password" class="form-control" required>
            </div>
            <div class="row">
                <div class="col p-2">
                    <button class="btn btn-danger" style="width:100%" onclick="login()" type="button">Login</button>
                </div>
                <div class="col p-2">
                    <a class="btn btn-danger me-2" data-bs-toggle="modal" data-bs-target="#signupModal" style="width:100%">Signup</a>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- 가입 모달 -->
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="signupModalLabel">Signup</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="signupForm" class="needs-validation" method="POST" novalidate>
                    <!-- 이메일 -->
                    <div class="mb-3 row">
                        <label for="email" class="form-label">이메일</label>
                        <div class="col">
                            <input type="email" id="email" name="email" class="form-control" required>
                        </div>
                    </div>
                    <!-- 비밀번호 -->
                    <div class="mb-3">
                        <label for="password" class="form-label">비밀번호</label>
                        <input type="password" id="password" name="password" class="form-control" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,15}$" required>
                        <div class="invalid-feedback">
                            비밀번호는  최소 8자 이상, 15자 이하이며 알파벳 대소문자, 숫자, 특수문자로 구성되어야 합니다.
                        </div>
                    </div>
                    <!-- 성별 -->
                    <div class="mb-3 row">
                        <label for="gender_male" class="form-label">성별</label>
                        <div class="d-flex justify-content-center col-12">
                            <div class="form-check col-6">
                                <input class="form-check-input" type="radio" name="gender" id="gender_male" value="M" required>
                                <label class="form-check-label" for="gender_male">
                                    남성
                                </label>
                            </div>
                            <div class="form-check col-6">
                                <input class="form-check-input" type="radio" name="gender" id="gender_female" value="F" required>
                                <label class="form-check-label" for="gender_female">
                                    여성
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- 전화번호 -->
                    <div class="mb-3 row">
                        <label for="phone1" class="form-label">Phone</label>
                        <div class="col">
                            <input type="text" id="phone1" name="phone1" class="form-control" maxlength="3" oninput="maxLengthCheck(this)" required>
                        </div>
                        <div class="col">
                            <input type="text" id="phone2" name="phone2" class="form-control" maxlength="4" oninput="maxLengthCheck(this)" required>
                        </div>
                        <div class="col">
                            <input type="text" id="phone3" name="phone3" class="form-control" maxlength="4" oninput="maxLengthCheck(this)" required>
                        </div>
                    </div>
                    <!-- 주소 -->
                    <div class="mb-3">
                        <label for="address" class="form-label">주소</label>
                        <input type="text" id="address" name="address" class="form-control" required>
                    </div>
                    <!-- 권한 -->
                    <div class="mb-3 row">
                        <label for="authority-m" class="form-label">권한</label>
                        <div class="d-flex justify-content-center col-12">
                            <div class="form-check col-6">
                                <input class="form-check-input" type="radio" name="authority" id="authority-m" value="ADMIN" required>
                                <label class="form-check-label" for="authority-m">
                                    ADMIN
                                </label>
                            </div>
                            <div class="form-check col-6">
                                <input class="form-check-input" type="radio" name="authority" id="authority-f" value="USER" required>
                                <label class="form-check-label" for="authority-f">
                                    USER
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
                <button class="btn btn-danger" style="width:100%" onclick="signup()">Add</button>
            </div>
        </div>
    </div>
</div>
<script>
    const href = location.href;
    if (location.href.substring(href.indexOf("?") + 1) === 'error') {
        const errorDiv = document.getElementById('login-failed');
        errorDiv.style.display = 'block';
    }
</script>
<th:block th:replace="layout :: scripts"></th:block>
</body>

</html>